/* Common css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 45px;
}
p{
    font-size: 18px;
}
h2{
    font-size: 40px;
}
.link_button{
    padding: 12px 20px;
    border-radius: 5px;
    background: rgb(230, 46, 46);
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    /* margin-top: 50px; */
}
.link_button:hover{
    
    background-image: linear-gradient(#0df30d ,#18880e);
    /* background-image: linear-gradient(#f3430d ,#23e711); */
    color: #fff;
}
.half_width{
    width: 50%;
}
/* common css end */


.banner_items{
    
    background-image: url(../img/cows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
    position: relative;

}
.banner_items::before{
 position: absolute;
 content: ' ';
 width: 100%;
 height: 100vh;
 background: #0000008f;
 z-index: -1;
}
    
    

.banner_content{
    align-items: center;
    padding-left: 8%;
    padding-top: 10%;
    
    color: #eef7f4;
}
.banner_content>p{
    padding-top: 25px ;
    padding-bottom: 60px;
}
/* cow-bazer-half-width */
#cow_bazer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bazer_items{
    display: flex;
    /* height: 450px; */

}
.bazer_items .bazer_left{
    padding-left: 8%;
    padding-top: 5%;
    
    
}
.bazer_items .bazer_left p{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    
}
.bazer_items .bazer_left .bottom_p{
    padding-bottom: 40px;
    
}
.bazer_items .bazer_right{
    padding-top: 3%;
}
.bazer_items .bazer_right img{
    width: 80%;
    /* width: 350px; */
    height: 300px;
    padding: 20px 25px;
    margin-left: 60px;
    
    /* border: 1px solid #457 ; */
    
}
/* cow-bazer-half-width */
/* prayer start */
#prayer{
    /* padding-top: 60px; */
    margin-top: 70px;
    margin-bottom: 45px;
    
}
.prayer_content{
    display: flex;
}
.prayer_content .prayer_left img{
   height: 300px;
   width: 50pxs;
   padding-left: 15%;
}
.prayer_content .prayer_right{
   height: 300px;
   width: 50pxs;
   padding-left: 6%;
   padding-right: 8%;
}
.prayer_content .prayer_right h2{
   padding-top: 10px;
   padding-bottom: 15px;
}
.prayer_content .prayer_right p{
   padding-top: 10px;
   padding-bottom: 15px;
}
/* .prayer_content .prayer_right .pray_btn{
   margin-top: 80px;
   
} */
.prayer_content .prayer_right .bottom_p2{
   padding-bottom: 50px;
   
}
/* prayer end */
/* footer start */
footer{
    background: #cc1111;
    color: #f8f5f4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
footer h3{
   font-style: italic; 
    font-family:   sans-serif;
    
}
footer p{
    padding-bottom: 20px;
    padding-top: 10px;
}
/* footer end */
/* donation start */
#donation {
    margin-top: 100px;


}
#donation h2{
text-align: center;
padding-bottom: 25px;


}
#donation .top-head-donation{

padding-bottom: 20px;
color: #8e918a;
text-align: center;
}
.donation_type{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.fund{
    display: flex;
    margin-right: 30px;
    background: rgba(247, 18, 18, 0.11);
    width: 450px;
    border-radius: 5px;
}
.fund_left{
    width: 20%;
    padding: 33px 25px ;
}
.fund_text{
    width: 75%;
    padding: 15px 0px ;
    
    
}
.fund_text h4{
    font-size: 20px;
    padding: 10px 7px;
    text-align: left;
}
.fund_text p{
    font-size: 17px;
    padding: 10px 10px ;
    color: #9ca094;
    text-align:justify;
}
/* donation end */
/* prayer image start*/
#shadow{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    
    
}

.shadow_img{
    border-radius: 25px;
    padding: 0 8px;
}
/* prayer image end*/
/* zakat start */
.zakat{
   display: flex;
   justify-content: center;
}
.zakat_hading{
    text-align: center;
}
.zakat_hading>p{
    padding-top: 20px;
    padding-bottom: 30px;
}
.zakat_info{
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px #646662;
    margin-right: 15px;
    border-radius: 7px;
    
}
.card_info{
    width: 290px;
    padding-left: 5%;
}
.card_info>h3{
    padding-top: 10px;
    
}
.card_info .zakat_link{
    padding-bottom: 30px;
    
}
.card_info>p{
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 15px;
}
.zakat_info .zakat_img img{
    width: 300px;
    height: 180px;
    border-radius: 6px;
}
/* zakat end */